body {
  background-color: #CFC1B4; // light brn
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../Home/images/nature.jpg);
  background-size: 100%;
  font-family: 'Merienda', cursive;

}

.active .navbar-nav .navbar-brand {
  font-size: 25px !important;
}

p {
  font-size: 15px;
  margin: 20% 20%:
  text-align: justify;
  color: #2BCDC0;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(17, 22, 55);
}

.panel-body {
  opacity: 1.0;
  filter: alpha(opacity=100);
  color: #2BCDC0;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(17, 22, 55);
}

@media screen and (max-width: 768px)
     {
       body {
      background-color: #CFC1B4:inherit;
      display: none;
}

}
